EPD7/p5/web/WEB-INF/wsdl/localhost_8080/p3/LibreriaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://libreria/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://libreria/">

<xs:element name="listBooks" type="tns:listBooks"/>

<xs:element name="listBooksResponse" type="tns:listBooksResponse"/>

<xs:complexType name="listBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:libro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="libro">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="editorial" type="tns:editorial" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="isbn" type="xs:int"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editorial">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="libros" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>